<div class="view request-view">

	<div class="row intro">
		<span class="description">Today I feel...</span>
	</div>

	<div class="row mood-picker" id="mood-picker">
		<span class="mood happy-mood">Happy</span>
		<span class="mood peace-mood">Peaceful</span>
		<span class="mood upset-mood">Upset</span>
		<span class="mood sad-mood">Sad</span>
		<!-- canvas will be attached here -->
	</div>

	<div class="row actions has-icons">
		<button class="btn btn-go" id="create">Impress me</button>
		<span class="error-msg">Network problem, retry in some minutes</span>
		<img src="./assets/star.png" class="star-img">
	</div>

</div>
