[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
debug = "env FLASK_ENV=development python -m flask run"
profile = "env PROFILE=1 pipenv run server"
server = "gunicorn app:app"

[dev-packages]

[packages]
flask = "*"
music21 = "*"
pyyaml = "*"
gunicorn = "*"
flask-cors = "*"

[requires]
python_version = "3.10"
